.menuList {
  list-style-type: none;
  margin: 8px auto 0px;
  padding: 0;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.menuItem {
  margin-bottom: 16px;
}

.menuLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  background-color: #747474;
  border-radius: 4px;
}

.menuLink:hover {
  background-color: #232323;
  color: #ddd;
}